.container{
    margin-top: 30px;
    padding: 10px;
    /* border: 2px solid rgb(4, 255, 0); */
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cf999925;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
h1{
    text-align: center;
}

.inp_data input{
    font-size: 16px;
    width: 90%;
    padding: 6px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
button{
    margin-top: 30px;
    text-align: center;
    width: 90%;
    padding: 5px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgba(137, 43, 226, 0.81);
}
button:hover{
    background-color: blueviolet;
    cursor: pointer;
}
.dt{
    width: 100%;
    font-size: 18px;
}
.dt input{
    font-size: 16px;
    width: 90%;
    padding: 4px;
    margin: 3px;
    border: 1px solid gray;
    border-radius: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}