.box{
    width: 90%;
    margin: 50px;
    padding: 10px;
    font-size: 30px;
    /* border:2px solid red; */
    background-color: rgba(165, 42, 42, 0.719);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}
th,td{
    border:1px solid white;
    padding: 5px;
    /* font-size: 20px; */
    
}
table{
    border-collapse:collapse
}